<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>ASUW Events | Add an Event</title>
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
	<!-- jQuery library -->
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	
	<link rel="icon" href="img/fav-logo.png">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<nav>
		<ul>
			<li><a href="index.html"><img id="navlogo" src="img/logo_white.png"></a></li>
			<li><a href="index.html">Events</a></li>
			<li><a href="mapview.html">View on a Map</a></li>
			<li><a href="event.html">Post an Event</a></li>
			<li><a href="about.html">About</a></li>
		</ul>
	</nav>
	
	<main ng-app="Events" ng-controller="EventsController">
        <div class="header">
            <h1>Add an Event</h1>
            <img class="bar" src="img/bar.png">
        </div>

		<p class="center notice">Note: Please contact an administrator after posting an event. They will ultimately decide whether or not your event will be posted.
			Time selection is proven to work only on Chrome, if you are unable to submit the form, please use Chrome.
		</p>
		
		<div class="alert alert-warning exists">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>Error!</strong> This event has already been requested or posted.
		</div>

		<div class="alert alert-success">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>Success!</strong> This event has been submitted for review.
		</div>
	
		<div class="alert alert-danger wrongstart">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>Wait!</strong> Your start date cannot happen before today's date!
		</div>
		
		<div class="alert alert-danger wrongend">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>Wait!</strong> You can't end an event before it begins..
		</div>
		
		<div class="block">
			<form name="confirmForm" ng-submit="save()" novalidate>
				<div class="form-group">
					<label for="eventname">Event Name</label>
					<input type="text" class="form-control" id="eventname" name="eventname" ng-model="eventname" placeholder="Name of your event" required />
					<p class="validation-error" ng-if="confirmForm.eventname.$error.required && confirmForm.eventname.$touched">What is the name of your event?</p>
				</div>
				
				<div class="form-group">
					<label for="fblink">Event Link (optional)</label>
					<input type="text" class="form-control" id="link" name="link" ng-model="link" placeholder="Paste a link for more information" />
				</div>
				
				<div class="form-group">
					<label for="orgname">Organization Name</label>
					<input type="text" class="form-control" id="orgname" name="orgname" ng-model="orgname" placeholder="Who is hosting this event?" required />
					<p class="validation-error" ng-if="confirmForm.orgname.$error.required && confirmForm.orgname.$touched">Organization Name is Required.</p>
				</div>
				
				<div class="form-group">
					<label for="start">Start Date and Time:</label>
					<input type="datetime-local" class="form-control" id="start" name="start" ng-model="start" placeholder="mm/dd/yyyy, --:-- --" required/>
					<p class="validation-error" ng-if="confirmForm.start.$invalid && confirmForm.start.$touched">Invalid Date.</p>
				</div>
				
				<div class="form-group">
					<label for="end">End Date and Time:</label>
					<input type="datetime-local" class="form-control" id="end" name="end" ng-model="end" placeholder="mm/dd/yyyy, --:-- --" required/>
					<p class="validation-error" ng-if="confirmForm.end.$invalid && confirmForm.end.$touched">Invalid Date.</p>
				</div>
				
				<div class="form-group">
					<label for="loc">Location (or building name)</label>
					<input type="text" class="form-control" id="loc" name="loc" ng-model="loc" placeholder="Where is your event located?" required />
					<p class="validation-error" ng-if="confirmForm.loc.$error.required && confirmForm.loc.$touched">Building name is required.</p>
				</div>
                
                <div class="mapplace"><div id="map">Map Goes Here</div></div>
				
				<div class="form-group">
					<label for="room">Room Number</label>
					<input type="text" class="form-control" id="room" name="room" ng-model="room" placeholder="Room #" min="0" />
				</div>
				
				<div class="form-group">
					<label for="description">Description</label>
					<textarea type="text" class="form-control" id="description" name="description" ng-model="description" placeholder="Description" required /></textarea>
					<p class="validation-error" ng-if="confirmForm.description.$error.required && confirmForm.description.$touched">Type a description so people know what this is about!</p>
				</div>
				
				<button type="submit" class="btn btn-success" ng-disabled="confirmForm.$invalid">Submit Event</button>
			</form>
		</div>
	</main>
    
    <!-- jQuery library -->
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	
	<!-- Angular CDN -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    
    <!-- Google Maps API-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMmf3yAivOCYcRAcH8mNgWQWH6B6nuyG0&libraries=places&callback=initAutocomplete"
        async defer></script>
	
	<script src="js/app.js"></script>
</body>
</html>
