@font-face {
    font-family: EncodeSans;
    src: url("../fonts/EncodeSansNormal-900-Black.ttf");
}

@font-face {
    font-family: OpenSans;
    src: url("../fonts/Open Sans regular.ttf");
}

@font-face {
	font-family: EncodeSansCompressed;
	src: url("../fonts/EncodeSansCompressed-700-Bold.ttf");
}

body {
	/*font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;*/
    font-family: OpenSans;
	font-size: 16px;
	font-weight: 300;
	background-color: #E9EAEE;
}

h1 {
	text-align: center;
    font-family: EncodeSans;
    color: #4B2E83;
    display: inline-block;
}

h2 {
	font-family: EncodeSansCompressed;
	color: #4B2E83;
}

.noevents, .nomonth, .nofuture {
	text-align: center;
	font-weight: bold;
	font-size: 1em;
	margin: 1em;
	display: none;
}

nav {
	position: absolute;
	background-color: #4B2E83;
	color: #FFF;
	top: 0;
	left: 0;
	width: 100%;
}

nav li {
	display: inline-block;
	margin: 10px;
}

nav ul {
	padding: 0;
	margin: 0;
}

nav a {
	text-decoration: none;
	color: #FFF;
}

nav a:hover, nav a:focus {
	text-decoration: none;
	color: #85754d;
}

#navlogo {
	width: 44.8px;
    color: #FFF;
}

main {
	margin-top: 7em;
	margin-left: 3em;
	margin-right: 1em;
}

#about {
	text-align: center;
	color: #5C2965;
}

#logosize {
	width: 20%;
}

.validation-error {
    color: #DD0000;
    font-size: 0.9em;
}

button {
	float: right;
}

.form-inline {
	margin-bottom: 1em;
}

.pin {
	display: inline-block;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	opacity: 1;
	
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.pin:hover {
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	background: #FAFAFA;
}

.top-align {
	vertical-align: top;
	height: 100%;
}

.top-align, .top, .nopad {
	width: 100%;
}

.top {
	text-align: center;
}

.nopad, .top, .top-align {
	padding-top: 0;
}

.align>a, .align:hover>a {
	text-decoration: none;
	font-size: 14pt;
}

.align {
	text-align: center;
}

svg {
	height: 22px;
}

.col-sm-3 {
	min-height: 100%;
	min-height: 16vh;
	min-width: 300px;
}

.row>div>a, .row>div>a:hover, .row>div>a:active, .info>a, .info>a:hover {
	text-decoration: none;
	color: black;
	cursor: pointer;
}

.admins {
	float: right;
}

div.blocktext {
	display: block;
	margin: 0 auto;
	width: 298px;
	border: 1px solid #000;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	background: #FAFAFA;
	border-radius: 5px;
	padding: 1em;
}

.center {
	text-align: center;
}

.notice {
	color: #DD0000;
}

.cursorstyle {
	cursor: pointer;
}

.block {
	display: block;
	margin: 0 auto;
	width: 300px;
	border: 1px solid #000;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	background: #FAFAFA;
	border-radius: 5px;
	padding: 1em;
	padding-bottom: 3em;
}

.alert {
	text-align: center;
	display: none;
}

.bar {
    width: 10%;
    display: block;
}

.header {
    text-align: left;
	margin-bottom: 1em;
}

.mapplace {
    width: 265px;
    height: 260px;
}

.mapview {
	height: 91vh;
	margin-top: 56px;
}

#map {
    height: 100%;
    width: 100%;
}

.pin>p {
	text-align: center;
}

.info>h2 {
	font-size: 15px;
	font-family: OpenSans;
}

@media(min-width: 550px) {
	
	.noevents, .nomonth, .nofuture {
		text-align: center;
		font-weight: bold;
		font-size: 1.3em;
		margin: 1em;
		display: none;
	}
	
	.block {
		display: block;
		margin: 0 auto;
		width: 422px;
		border: 1px solid #000;
		box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
		background: #FAFAFA;
		border-radius: 5px;
		padding: 1em;
		padding-bottom: 3em;
	}
	
	.mapplace {
    	width: 390px;
    	height: 300px;
	}
	
	main {
		margin: 5em;
	}
}

@media(min-width: 700px) {
	.top-align {
		width: 56.7%;
		overflow: auto;
	}
	
	.nopad {
		width: initial;
		overflow: auto;
	}
}


@media(min-width: 900px) {
	.top-align {
		width: 68.37%;
		vertical-align: top;
	}
	
	.nopad {
		vertical-align: top;
	}
}